{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
{% block messages %}
{% endblock %}

{% block content %}
	<div class="header">
        <div class="container">
            <h1 class="question">ARE YOU HUNGRY ?</h1>
            <img src="{% static 'images/maindishimg.png' %}" alt="" class="food-img">
            <a href="recipe.html" class="make-dish-btn">MAKE A DISH</a>
            <div class="passage">
                <p>Our recipe maker simplifies the art of cooking, offering a Seamless platform for both beginners and
                    seasoned chefs. Explore diverse recipes, customize ingredients, and create mouthwatering dishes
                    effortlessly.
                </p>
            </div>
        </div>
    </div>

    <!-- DRINKS SECTION -->

    <div class="header3">
        <div class="container">
            <h1 class="question">CHEERS TO FLAVOURFUL <br> DISCOVERIES</h1>
            <img src="{% static 'images/drinks2.png' %}" alt="" class="food-img">
            <div class="passage">
                <p>Explore a diverse array of beverages, from refreshing juices to artisanal cocktails. Immerse yourself
                    in a world of flavor, where every sip is a celebration. Elevate your beverage experience and
                    discover your new favorite drink destination right here.
                </p>
            </div>
        </div>
    </div>

    <!-- ABOUT US SECTION -->
    <div class="header2" id="head2">
        <div class="title">
            <h1>ABOUT US</h1>
        </div>
        <p class="abt-para">
            At DISH DISCOVERY, we proudly present a culinary, where innovation and convenience converge—welcome
            to our Recipe Generator universe. We understand that today's food enthusiasts crave both creativity and
            simplicity in the kitchen. Our platform is meticulously crafted to transform cooking into a joyful
            exploration, ensuring that every meal becomes a delightful experience.
            Discover a treasure trove of diverse and inspiring recipes tailored to your preferences. Whether you're
            a seasoned chef or a kitchen novice, our goal is to empower you to create extraordinary dishes
            effortlessly. At DISH DISCOVERY, we are passionate about demystifying the art of cooking, making it
            accessible to all. Join us on this gastronomic journey, and let our Recipe Generator redefine the way
            you approach culinary adventures—because we believe that every meal should be a celebration of flavor,
            creativity, and sheer enjoyment.
        </p>
    </div>
{% endblock %}
</body>
</html>